body{
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app{
    display: grid;
    grid-template-rows: 70px 100px 250px 200px;
    grid-template-columns: 90%;
    grid-template-areas:
     "header"
     "zip"
     "feel"
     "entry";
    height:100vh;
    background-image: url('../img/background.jpg');
    background-size: cover;
    color: black;
    justify-content: center;
    grid-gap: 1em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

.holder{
    justify-self: center;
}

#entryHolder{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 10px;
}

.headline {
    grid-area: header;
    padding-top: 30px;
    font-size: 1.5em;
    font-weight: 700;
}

.zip {
    /* padding-top: 10px; */
    grid-area: zip;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#zip {
    padding-left: 10px;
}

.feel {
    grid-area: feel;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.entry {
    grid-area: entry;
    width: 100%;
    font-size: 1.1em;
    background: rgba(59, 74, 107, .4);
    text-align: center;
    color: #f0d43a;
}

.title {
    align-items: center;
}


/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 1.1em;
}

input{
    display:block;
    height: 70px;
    width: 250px;
    background:#22b2da;
    color: #f0d43a;
    font-size: 1.1em;
    font-family: 'Oswald', sans-serif;
    border: none;
}

button{
    width: 200px;
    margin-top: 10px;
    border-radius: 5%;
    height: 70px;
    background: #3b4a6b;
    color: #f0d43a;
    font-size: 1.2em;
    padding-left: 10px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
}

textarea{
    background:#22b2da;
    width: 250px;
    color: #f0d43a;
    font-size: 1.1em;
    padding-left: 10px;
    font-family: 'Oswald', sans-serif;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;

}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;
} 

@media (min-width: 769px) {
    #app {
        grid-template-rows: 150px 200px 250px;
        grid-template-columns: 40% 40%;
        grid-template-areas:
        "header header"
        "zip feel"
        "entry entry";
    }

    input,
    textarea {
        width: 320px;
        height: 70px;
    }

    #zip,
    button,
    .entry,
    textarea,
    label {
        font-size: 1.5em;
    }

    .headline {
        padding-top: 50px;
        font-size: 3em;
    }
        
    #zip {
        padding-left: 10px;
    }

    .entry {
        font-size: 1.5em;
    }
}